#Mirsa{
    border: outset yellow;
    border-radius: 5px;
    border-width: 4px;
}
#ChallengerDominiel{
    border: outset purple;
    border-radius: 5px;
    border-width: 4px;
}
#Gloomyrain{
    border: outset yellow;
    border-radius: 5px;
    border-width: 4px;
}
#Bellona{
    border: outset lightgreen;
    border-radius: 5px;
    border-width: 4px;
}
#Baiken{
    border: outset lightgreen;
    border-radius: 5px;
    border-width: 4px;
}
#Dizzy{
    border: outset blue;
    border-radius: 5px;
    border-width: 4px;
}
#Karin{
    border: outset blue;
    border-radius: 5px;
    border-width: 4px;
}
#Nemunas{
    border: outset Red;
    border-radius: 5px;
    border-width: 4px;
}
#Wanda{
    border: outset purple;
    border-radius: 5px;
    border-width: 4px;
}
#Judith{
    border: outset red;
    border-radius: 5px;
    border-width: 4px;
}
#Rin{
    border: outset lightgreen;
    border-radius: 5px;
    border-width: 4px;
}
#Luluca{
    border: outset blue;
    border-radius: 5px;
    border-width: 4px;
}
#Montmorancy{
    border: outset blue;
    border-radius: 5px;
    border-width: 4px;
}
#KittyClarissa{
    border: outset purple;
    border-radius: 5px;
    border-width: 4px;
}
#Diene{
    border: outset blue;
    border-radius: 5px;
    border-width: 4px;
}
#Yufine{
    border: outset lightgreen;
    border-radius: 5px;
    border-width: 4px;
}
#FallenCecilia{
    border: outset purple;
    border-radius: 5px;
    border-width: 4px;
}
#Lidica{
    border: outset Red;
    border-radius: 5px;
    border-width: 4px;
}
#Dominiel{
    border: outset blue;
    border-radius: 5px;
    border-width: 4px;
}
#Sigret{
    border: outset blue;
    border-radius: 5px;
    border-width: 4px;
}
#Lilibet{
    border: outset lightgreen;
    border-radius: 5px;
    border-width: 4px;
}
#Mistychain{
    border: outset blue;
    border-radius: 5px;
    border-width: 4px;
}
#Kluri{
    border: outset lightgreen;
    border-radius: 5px;
    border-width: 4px;
}
#Mercedes{
    border: outset Red;
    border-radius: 5px;
    border-width: 4px;
}
#Armin{
    border: outset lightgreen;
    border-radius: 5px;
    border-width: 4px;
}
#CelestialMercedes{
    border: outset yellow;
    border-radius: 5px;
    border-width: 4px;
}
#Destina{
    border: outset lightgreen;
    border-radius: 5px;
    border-width: 4px;
}
#Achates{
    border: outset red;
    border-radius: 5px;
    border-width: 4px;
}
#Surin{
    border: outset red;
    border-radius: 5px;
    border-width: 4px;
}
#ShootingStarAchates{
    border: outset purple;
    border-radius: 5px;
    border-width: 4px;
}
#Cloe{
    border: outset blue;
    border-radius: 5px;
    border-width: 4px;
}
#Jena{
    border: outset blue;
    border-radius: 5px;
    border-width: 4px;
}
#JudgeKise{
    border: outset yellow;
    border-radius: 5px;
    border-width: 4px;
}
#Cermia{
    border: outset red;
    border-radius: 5px;
    border-width: 4px;
}
#Aramintha{
    border: outset yellow;
    border-radius: 5px;
    border-width: 4px;
}
#Ras{
    border: outset red;
    border-radius: 5px;
    border-width: 4px;
}
#Shuri{
    border: outset yellow;
    border-radius: 5px;
    border-width: 4px;
}
#Carmainerose{
    border: outset red;
    border-radius: 5px;
    border-width: 4px;
}
#Helga{
    border: outset lightgreen;
    border-radius: 5px;
    border-width: 4px;
}
#Pearlhorizon{
    border: outset lightgreen;
    border-radius: 5px;
    border-width: 4px;
}
#Tamarinne{
    border: outset red;
    border-radius: 5px;
    border-width: 4px;
}
#Luna{
    border: outset blue;
    border-radius: 5px;
    border-width: 4px;
}
#Kise{
    border: outset blue;
    border-radius: 5px;
    border-width: 4px;
}
#Tenebria{
    border: outset red;
    border-radius: 5px;
    border-width: 4px;
}
#BloodBladeKarin{
    border: outset purple;
    border-radius: 5px;
    border-width: 4px;
}
#Coli{
    border: outset purple;
    border-radius: 5px;
    border-width: 4px;
}
#Clarissa{
    border: outset blue;
    border-radius: 5px;
    border-width: 4px;
}
#Ravi{
    border: outset Red;
    border-radius: 5px;
    border-width: 4px;
}
#Angelica{
    border: outset blue;
    border-radius: 5px;
    border-width: 4px;
}
#Yuna{
    border: outset blue;
    border-radius: 5px;
    border-width: 4px;
}